<section>
  <div class="mt-32 flex w-full items-start gap-6">
    <div class="w-3/4">
      @if (!CartStore.items().length) {
        <app-empty-state></app-empty-state>
      }
      @for (item of CartStore.items(); track item.productId) {
        <app-cart-item
          [item]="item"
          [isLoading]="CartStore.isLoading()"
          (updateQuantity)="CartStore.updateProductQuantity($event)"
          (deleteItem)="CartStore.removeProduct($event)"
        />
      }
    </div>
    <div class="w-1/4">
      <app-cart-summary [cartSummary]="CartStore.orderSummary()"></app-cart-summary>
    </div>
  </div>
</section>
