<div class="mb-6 flex flex-col gap-3">
  <div class="flex items-center justify-between gap-3">
    @if (!ProductsStore.useInfiniteScroll()) {
      <mat-paginator
        class="bg-transparent"
        aria-label="Page navigation"
        [length]="ProductsStore.productsCount()"
        [pageSize]="ProductsStore.filter().pageSize"
        [pageSizeOptions]="DEFAULT_PAGE_SIZE_OPTIONS"
        [showFirstLastButtons]="true"
        [pageIndex]="ProductsStore.filter().pageIndex - 1"
        (page)="onPageChange($event)"
      ></mat-paginator>
    } @else {
      <div class="flex items-center gap-2 text-sm text-gray-600">
        <mat-icon class="text-base">infinity</mat-icon>
        <span>Infinite Scroll Active</span>
      </div>
    }

    <form class="relative top-2.5 mx-4 flex w-full max-w-md items-center" (ngSubmit)="onSubmitSearchForm()">
      <mat-form-field appearance="outline" class="w-full">
        <input matInput type="search" placeholder="Search" [field]="searchForm.search" />
        @if (searchForm.search().controlValue().length) {
          <button matSuffix matIconButton aria-label="Clear" type="button" (click)="searchForm.search().value.set('')">
            <mat-icon>close</mat-icon>
          </button>
        } @else {
          <button matSuffix mat-icon-button type="submit">
            <mat-icon>search</mat-icon>
          </button>
        }
      </mat-form-field>
    </form>

    <div class="flex gap-3">
      <button class="match-input-height" mat-stroked-button (click)="ProductsStore.toggleInfiniteScroll()">
        <mat-icon>{{ ProductsStore.useInfiniteScroll() ? 'view_agenda' : 'expand_more' }}</mat-icon>
        {{ ProductsStore.useInfiniteScroll() ? 'Pages' : 'Scroll' }}
      </button>
      <button class="match-input-height" mat-stroked-button (click)="onClickFiltersButton()">
        <mat-icon>filter_list</mat-icon>
        Filters
      </button>
      <button class="match-input-height" mat-stroked-button type="button" [matMenuTriggerFor]="sortMenu">
        <mat-icon>swap_vert</mat-icon>
        Sort
      </button>
    </div>
  </div>
</div>

<mat-menu #sortMenu="matMenu">
  <mat-selection-list [multiple]="false" (selectionChange)="onSelectSortOption($event)">
    @for (sort of sortOptions; track sort.value) {
      <mat-list-option [value]="sort.value" [selected]="ProductsStore.filter().sort === sort.value">{{ sort.viewValue }}</mat-list-option>
    }
  </mat-selection-list>
</mat-menu>
